Flask
Flask-Admin
Flask-CORS
Flask-Login
Flask-Mail
Flask-PyMongo
Flask-SocketIO
Flask-WTF
Jinja2
Pillow
Werkzeug
bcrypt
dnspython
eventlet
gunicorn
pymongo
python-dotenv
python-engineio
python-jose
python-socketio
